/*html, body, .row, .col-md-9, #map_canvas {height: 100%;}*/
html, body {height: 100%;}

.question-box {
  position: absolute;
  z-index: 200;
  top: 150px;
  background-color: rgba(255,255,255,.8);
  padding: 20px;
  border-radius: 20px;
  left: 300px;
}

.question-map-box {
  position: relative;
}
